# 1

In [1]:
import pandas as pd
import numpy as np
d=pd.DataFrame({'id':np.random.choice(range(1,100),30,replace=False),
                'x':np.random.randint(1,100,30),
                'y':np.random.randint(1,100,30)})

In [2]:
max_id=d['id'][(abs(d['x']-d['y'])).idxmax()]

max_id
# since the data is randomly generated , this answer will be different for different 
# runs

84

In [3]:
x_value=int(d['x'][d['id']==max_id])
x_value

13

In [4]:
# summing a condition gives count of True
(d['x']<x_value).sum()

4

# 2

In [5]:
from datetime import date
d1=pd.to_datetime('23-1-2020').toordinal()
d2=pd.to_datetime('23-12-2020').toordinal()
df=pd.DataFrame({
    'date':[date.fromordinal(np.random.randint(d1, d2)) for i in range(100)],
    'sales':np.random.randint(100,500,100),
 'category':np.random.choice(['Apparels','Cosmetics','Toys','Consumables'],100)
})

In [6]:
df['date']=pd.to_datetime(df['date'])

In [7]:
df['month']=df['date'].dt.month

In [8]:
df.groupby(['month'])['sales'].mean()

month
1     284.000000
2     301.545455
3     333.000000
4     295.555556
5     344.000000
6     272.888889
7     272.125000
8     314.600000
9     337.083333
10    298.666667
11    243.800000
12    136.000000
Name: sales, dtype: float64

In [9]:
df['quarter']=df['date'].dt.quarter

In [10]:
a=df[df['quarter']==2].groupby(['category'])['sales'].sum()

In [11]:
a.index[a==min(a)]

Index(['Cosmetics'], dtype='object', name='category')

# 3

In [12]:
file=r"./coupon_item.csv"

In [13]:
citem=pd.read_csv(file)

## 3.1

* I have deleted temporary dataframes created in between. 
* It will be helpful in understandin to run this code line by line and see the intermediate results

In [14]:
coupon_features=citem['coupon_id'].value_counts().reset_index()

In [15]:
coupon_features.columns=['coupon_id','coupon_occurence_count']

In [16]:
coupon_features.head()

   coupon_id  coupon_occurence_count
0         32                   11814
1         23                   11813
2         22                    4947
3         31                    4873
4         33                    4394

## 3.2

In [17]:
temp=citem.groupby(['coupon_id'])['item_id'].nunique().reset_index()
coupon_features=pd.merge(coupon_features,temp,on='coupon_id',how='left')
del temp
coupon_features.rename(columns={'item_id':'coupon_unique_items_count'},inplace=True)

In [18]:
coupon_features.head()

   coupon_id  coupon_occurence_count  coupon_unique_items_count
0         32                   11814                      11814
1         23                   11813                      11813
2         22                    4947                       4947
3         31                    4873                       4873
4         33                    4394                       4394

## 3.3

In [19]:
temp=pd.crosstab(citem['coupon_id'],citem['category'])
temp.columns=[x+'_cat_count_coupon' for x in list(temp.columns)]
temp.reset_index(inplace=True)
coupon_features=pd.merge(coupon_features,temp,on='coupon_id',how='left')
del temp

In [20]:
coupon_features.head()

,coupon_id,coupon_occurence_count,coupon_unique_items_count,Bakery_cat_count_coupon,"Dairy, Juices & Snacks_cat_count_coupon",Flowers & Plants_cat_count_coupon,Garden_cat_count_coupon,Grocery_cat_count_coupon,Meat_cat_count_coupon,Miscellaneous_cat_count_coupon,Natural Products_cat_count_coupon,Packaged Meat_cat_count_coupon,Pharmaceutical_cat_count_coupon,Prepared Food_cat_count_coupon,Restauarant_cat_count_coupon,Salads_cat_count_coupon,Seafood_cat_count_coupon,Skin & Hair Care_cat_count_coupon,Travel_cat_count_coupon,Vegetables (cut)_cat_count_coupon
0,32,11814,11814,0,3,0,0,12,8,5,0,0,9616,0,0,0,0,2170,0,0
1,23,11813,11813,0,2,0,0,12,8,5,0,0,9616,0,0,0,0,2170,0,0
2,22,4947,4947,16,260,0,0,4127,4,1,0,247,0,0,0,0,292,0,0,0
3,31,4873,4873,16,259,0,0,4127,3,1,0,246,0,0,0,0,221,0,0,0
4,33,4394,4394,0,0,0,0,29,2076,17,0,1677,0,4,0,1,590,0,0,0

## 3.4

In [21]:
temp=citem.groupby(['coupon_id'])['category'].nunique().reset_index()
temp.columns=['coupon_id','num_unique_category_coupon']
coupon_features=pd.merge(coupon_features,temp,on='coupon_id',how='left')
del temp
coupon_features.rename(columns={'category':'coupon_unique_category_count'},inplace=True)

In [22]:
coupon_features.head()

,coupon_id,coupon_occurence_count,coupon_unique_items_count,Bakery_cat_count_coupon,"Dairy, Juices & Snacks_cat_count_coupon",Flowers & Plants_cat_count_coupon,Garden_cat_count_coupon,Grocery_cat_count_coupon,Meat_cat_count_coupon,Miscellaneous_cat_count_coupon,...,Packaged Meat_cat_count_coupon,Pharmaceutical_cat_count_coupon,Prepared Food_cat_count_coupon,Restauarant_cat_count_coupon,Salads_cat_count_coupon,Seafood_cat_count_coupon,Skin & Hair Care_cat_count_coupon,Travel_cat_count_coupon,Vegetables (cut)_cat_count_coupon,num_unique_category_coupon
0,32,11814,11814,0,3,0,0,12,8,5,...,0,9616,0,0,0,0,2170,0,0,6
1,23,11813,11813,0,2,0,0,12,8,5,...,0,9616,0,0,0,0,2170,0,0,6
2,22,4947,4947,16,260,0,0,4127,4,1,...,247,0,0,0,0,292,0,0,0,7
3,31,4873,4873,16,259,0,0,4127,3,1,...,246,0,0,0,0,221,0,0,0,7
4,33,4394,4394,0,0,0,0,29,2076,17,...,1677,0,4,0,1,590,0,0,0,7

## 3.5

In [23]:
temp=pd.DataFrame(citem.groupby(['coupon_id'])['brand'].value_counts())
temp.columns=['brand_count']
temp.reset_index(inplace=True)
temp=temp.groupby(['coupon_id'])['brand'].nth(0).reset_index()
temp.columns=['coupon_id','max_freq_brand']
coupon_features=pd.merge(coupon_features,temp,on='coupon_id',how='left')
del temp

In [24]:
coupon_features.head()

,coupon_id,coupon_occurence_count,coupon_unique_items_count,Bakery_cat_count_coupon,"Dairy, Juices & Snacks_cat_count_coupon",Flowers & Plants_cat_count_coupon,Garden_cat_count_coupon,Grocery_cat_count_coupon,Meat_cat_count_coupon,Miscellaneous_cat_count_coupon,...,Pharmaceutical_cat_count_coupon,Prepared Food_cat_count_coupon,Restauarant_cat_count_coupon,Salads_cat_count_coupon,Seafood_cat_count_coupon,Skin & Hair Care_cat_count_coupon,Travel_cat_count_coupon,Vegetables (cut)_cat_count_coupon,num_unique_category_coupon,max_freq_brand
0,32,11814,11814,0,3,0,0,12,8,5,...,9616,0,0,0,0,2170,0,0,6,56
1,23,11813,11813,0,2,0,0,12,8,5,...,9616,0,0,0,0,2170,0,0,6,56
2,22,4947,4947,16,260,0,0,4127,4,1,...,0,0,0,0,292,0,0,0,7,56
3,31,4873,4873,16,259,0,0,4127,3,1,...,0,0,0,0,221,0,0,0,7,56
4,33,4394,4394,0,0,0,0,29,2076,17,...,0,4,0,1,590,0,0,0,7,56

## 3.6

In [25]:
temp=pd.DataFrame(citem.groupby(['coupon_id'])['brand'].value_counts())
temp.columns=['brand_count']
temp.reset_index(inplace=True)

In [26]:
temp=pd.merge(temp,coupon_features[['coupon_id','coupon_occurence_count']],
             on=['coupon_id'],how='left')

In [27]:
temp['percent_freq']=temp['brand_count']/temp['coupon_occurence_count']
temp=temp[temp['percent_freq']>=0.1]

In [28]:
temp=temp['coupon_id'].value_counts().reset_index()
temp.columns=['coupon_id','high_freq_brand_count']

In [29]:
coupon_features=pd.merge(coupon_features,temp,how='left',on=['coupon_id'])
del temp

In [30]:
coupon_features.head()
# some coupon id might not have any high freq brands 
# due to having too many unique brands

,coupon_id,coupon_occurence_count,coupon_unique_items_count,Bakery_cat_count_coupon,"Dairy, Juices & Snacks_cat_count_coupon",Flowers & Plants_cat_count_coupon,Garden_cat_count_coupon,Grocery_cat_count_coupon,Meat_cat_count_coupon,Miscellaneous_cat_count_coupon,...,Prepared Food_cat_count_coupon,Restauarant_cat_count_coupon,Salads_cat_count_coupon,Seafood_cat_count_coupon,Skin & Hair Care_cat_count_coupon,Travel_cat_count_coupon,Vegetables (cut)_cat_count_coupon,num_unique_category_coupon,max_freq_brand,high_freq_brand_count
0,32,11814,11814,0,3,0,0,12,8,5,...,0,0,0,0,2170,0,0,6,56,NaN
1,23,11813,11813,0,2,0,0,12,8,5,...,0,0,0,0,2170,0,0,6,56,NaN
2,22,4947,4947,16,260,0,0,4127,4,1,...,0,0,0,292,0,0,0,7,56,1.0
3,31,4873,4873,16,259,0,0,4127,3,1,...,0,0,0,221,0,0,0,7,56,1.0
4,33,4394,4394,0,0,0,0,29,2076,17,...,4,0,1,590,0,0,0,7,56,1.0

## 3.7

In [31]:
temp=pd.DataFrame(citem.groupby(['coupon_id'])['brand'].value_counts())
temp.columns=['brand_count']
temp.reset_index(inplace=True)
temp=pd.merge(temp,coupon_features[['coupon_id','coupon_occurence_count']],
             on=['coupon_id'],how='left')

In [32]:
temp1=temp.groupby(['coupon_id']).nth(0).reset_index()
temp1=temp1[['coupon_id','brand_count','coupon_occurence_count']]
temp1.rename(columns={'brand_count':'b1'},inplace=True)

In [33]:
temp2=temp.groupby(['coupon_id']).nth(1).reset_index()
temp2=temp2[['coupon_id','brand_count']]
temp2.rename(columns={'brand_count':'b2'},inplace=True)

In [34]:
temp1=pd.merge(temp1,temp2,on=['coupon_id'],how='left')
temp1.head()
del temp2

In [35]:
temp1['diff_percent_top2_brand']=(temp1['b1']-temp1['b2'])/temp1['coupon_occurence_count']

temp1=temp1[['coupon_id','diff_percent_top2_brand']]

In [36]:
coupon_features=pd.merge(coupon_features,temp1,on=['coupon_id'],how='left')
del temp1
del temp

In [37]:
coupon_features.head()

,coupon_id,coupon_occurence_count,coupon_unique_items_count,Bakery_cat_count_coupon,"Dairy, Juices & Snacks_cat_count_coupon",Flowers & Plants_cat_count_coupon,Garden_cat_count_coupon,Grocery_cat_count_coupon,Meat_cat_count_coupon,Miscellaneous_cat_count_coupon,...,Restauarant_cat_count_coupon,Salads_cat_count_coupon,Seafood_cat_count_coupon,Skin & Hair Care_cat_count_coupon,Travel_cat_count_coupon,Vegetables (cut)_cat_count_coupon,num_unique_category_coupon,max_freq_brand,high_freq_brand_count,diff_percent_top2_brand
0,32,11814,11814,0,3,0,0,12,8,5,...,0,0,0,2170,0,0,6,56,NaN,0.030134
1,23,11813,11813,0,2,0,0,12,8,5,...,0,0,0,2170,0,0,6,56,NaN,0.030136
2,22,4947,4947,16,260,0,0,4127,4,1,...,0,0,292,0,0,0,7,56,1.0,0.161310
3,31,4873,4873,16,259,0,0,4127,3,1,...,0,0,221,0,0,0,7,56,1.0,0.156782
4,33,4394,4394,0,0,0,0,29,2076,17,...,0,1,590,0,0,0,7,56,1.0,0.059854

In [38]:
# this summary will not exist for many coupons with single brand presense